.button {
	@apply py-1.5 px-2 rounded-md text-[16px] tracking-[0.08em];

	transition: all .6s ease;
}

.primary {
	background: var(--primary);
	color: var(--text-main);
	box-shadow: var(--primary-shadow);

	&:focus,
	&:hover {
		background: var(--primary-hover);
	}
}

.ghost {
	@apply bg-transparent border-2;
}