.characters {
	@apply mb-10;

	&__title {
		@apply mb-5;
	}

	&__data {
		@apply flex flex-row relative;
	}

	&__description {
		position: sticky;
		height: fit-content;
		top: 40px;
	}

	&__list {
		@apply flex flex-wrap gap-3 mb-10;
	}

	&__pagination {
		@apply flex justify-center items-center;
	}
}